Bank Account

In [ ]:
class bank():
  def __init__(self,ownerName,balance):
    self.ownerName=ownerName
    self.balance=balance
    print("owner",self.ownerName)
    print("original balance",self.balance)
  def deposit(self,a):
    self.balance=self.balance+a
    print("Amount deposited",a)
  def withdraw(self,b):
    if b<self.balance:
      self.balance=self.balance-b
      print("Withdraw amount",b)
    else:
      print("Balance limit exceeded")
    print("Balance",self.balance)

In [36]:
acc=bank("Nikhil",20000)
acc.deposit(500)
acc.withdraw(500)

owner Nikhil
original balance 20000
Amount deposited 500
Withdraw amount 500
Balance 20000

2.

In [ ]:
import math

class cone():
  def __init__(self,radius,height):
    self.radius = radius
    self.height = height

  def volume(self):
    v=(math.pi)*pow(self.radius,2)*(self.height/3)
    return ("Volume: %.2f"%v)

  def area(self):
    a = (math.pi)*self.radius*(self.radius+math.sqrt((pow(self.radius,2)+pow(self.height,2))))
    return ("Surface Area: %.2f"%a)

  vol=cone(6,3)
  vol.volume()
  vol.area()